.vs/ProjectEvaluation/zit.agencymanager.metadata.v7.bin
.vs/ProjectEvaluation/zit.agencymanager.projects.v7.bin
.vs/Zit.AgencyManager/DesignTimeBuild/.dtbcache.v2
.vs/Zit.AgencyManager/.vs/Zit.AgencyManager/FileContentIndex/3b78ef2a-9724-4bb9-8e53-99c1fcbeeaaa.vsidx
.vs/Zit.AgencyManager/.vs/Zit.AgencyManager/FileContentIndex/a15bb40a-51d6-4532-a84b-fdf9586768e7.vsidx
.vs/Zit.AgencyManager/.vs/Zit.AgencyManager/FileContentIndex/e75944d1-a801-42d2-9265-4e9ea11ec6f5.vsidx
.vs/Zit.AgencyManager/.vs/Zit.AgencyManager/FileContentIndex/ef9a1898-c53f-4c61-ad0b-c3047b3a2a2c.vsidx
.vs/Zit.AgencyManager/.vs/Zit.AgencyManager/v17/.futdcache.v2
.vs/Zit.AgencyManager/.vs/Zit.AgencyManager/v17/.suo
