@page "/agencias"
@inject AgenciaAPI agenciaAPI

<h3>Agências</h3>

@foreach (var agencia in agencias)
{
    <p>@agencia.Descricao</p>
}

@code {
    private ICollection<AgenciaResponse>? agencias = Enumerable.Empty<AgenciaResponse>().ToList();

    protected override async Task OnInitializedAsync()
    {
        agencias = await agenciaAPI.GetAgenciasAsync();
    }
}
