@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthAPI authAPI
@inject NavigationManager navigation
@inject TitleService TitleService
<PageTitle>Entrar</PageTitle>
@attribute [AllowAnonymous]

<AuthorizeView>       
    <Authorized>
        @{
            navigation.NavigateTo("/");
        }
    </Authorized>
    <NotAuthorized>

    <MudGrid>
        <MudItem xs="12" sm="3">
                <MudPaper Class="px-8 pt-2 sombra" Justify="Justify.Center" Style="margin-top: -105px; height:110vh; margin-left: -50px;background-color: #2972BA ">
                    <div style="display: flex; justify-content: center;">
                        <MudImage Class="mt-4" src="images/logo.png" Style="width: 250px; height: 50px;" />
                    </div>

                    <MudText Typo="Typo.h4" Align="Align.Center" Class="mt-8"> </MudText>

                    <MudContainer Style="display: flex; justify-content: center; align-items: center; height: 80vh;">
                        <MudPaper Width="400px" Elevation="1" Class="sombra my-8 pt-8 pb-6">
                            <MudForm>                                
                                <MudText Typo="Typo.h5" Align="Align.Center" Class="my-4">Login</MudText>

                                <MudTextField Placeholder="Email" Variant="Variant.Outlined" Class="my-2 mx-6" @bind-Value="email" />
                                <MudTextField Placeholder="Senha" Variant="Variant.Outlined" Class="my-2 mx-6" InputType="InputType.Password" @bind-Value="senha" />

                                <MudButton Variant="Variant.Filled" Color="Color.Info" Class="my-4 mx-6" @onclick="FazerLogin">
                                    Entrar
                                </MudButton>
                            </MudForm>
                        </MudPaper>
                    </MudContainer>
                </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="9">
            
        </MudItem>
    </MudGrid>


            
    </NotAuthorized>
</AuthorizeView>


@code {
    private string? email;
    private string? senha;


    private async Task FazerLogin()
    {
        await authAPI.LoginAsync(email!, senha!);
    }

    protected override void OnInitialized()
    {
        TitleService.SetTitle("");
    }

}
